*{
font-family: 'Times New Roman', Times, serif;
background-color:lightpink;
color:white
}

#footer
{
    position: fixed;
    left:0;
    bottom: 0;
    margin-left: 50%;
}

#HighScore
{
    background-color: black;
    color: white;
    
}

#quiz
{
    text-align: center;
}

h1{
    text-align: center;
    border-radius: 80px;
    background-color:rgb(228, 65, 92);
}

p{
    text-align: center;
   
}

button{
    background-color: darkslateblue;
}